<app-navbar></app-navbar>

<div id="homepage" class="justify-items-center">
  <app-home-section></app-home-section>
</div>

<div class="divider"></div>

<div id="aboutme" class="justify-items-center">
  <app-about-me-section></app-about-me-section>
</div>

<div class="divider"></div>

<div id="projects" class="justify-items-center">
  <app-projects-section></app-projects-section>
</div>

<div class="divider"></div>

<div id="contact" class="justify-items-center">
  <app-contact-section></app-contact-section>
</div>


<router-outlet></router-outlet>
