<div class="h-full md:h-screen px-5 md:px-20 content-center">
  <h1
    class="text-center md:text-left text-2xl sm:text-4xl md:text-5xl font-bold"
  >
    Acerca De
  </h1>
  <hr
    class="w-24 md:w-48 h-1 my-4 mx-auto md:mx-0 bg-blue-500 border-0 rounded-sm md:my-5 dark:bg-blue-500"
  />
  <div
    class="items-center grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8"
  >
    <div
      class="justify-items-center lg:justify-items-start col-span-1 col-start-1"
    >
      <div
        class="hover:shadow-2xl hover:scale-110 transition-transform duration-300 border-t-2 border-blue-500 h-70 card w-[90%] bg-base-300 card-xs md:card-sm lg:card-md shadow-sm"
      >
        <div class="card-body p-6 xl:p-8">
          <h2 class="card-title">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                fill="currentColor"
                d="M16 10c0 2.21-1.79 4-4 4s-4-1.79-4-4s1.79-4 4-4s4 1.79 4 4"
              />
              <path
                fill="currentColor"
                fill-rule="evenodd"
                d="M12 24c6.63 0 12-5.37 12-12S18.63 0 12 0S0 5.37 0 12s5.37 12 12 12m6.27-2.96C21.13 19.05 23 15.75 23 12c0-6.08-4.92-11-11-11S1 5.92 1 12c0 3.75 1.87 7.05 4.73 9.04C6.435 19.72 8.71 16 12 16s5.56 3.72 6.27 5.04"
                clip-rule="evenodd"
              />
            </svg>
            ¿Quién Soy?
          </h2>
          <p>
            Soy un profesional apasionado por el desarrollo web y el análisis de
            datos. Mi trayectoria se centra en construir
            <strong>soluciones digitales robustas</strong> y transformar
            <strong>datos complejos en información estratégica</strong>,
            impulsando la toma de decisiones eficaz para mis clientes.
          </p>
        </div>
      </div>
    </div>
    <div class="justify-items-center col-span-1 col-start-1 md:col-start-2">
      <div
        class="hover:shadow-2xl hover:scale-110 transition-transform duration-300 border-t-2 border-blue-500 h-70 card w-[90%] bg-base-300 card-xs md:card-sm lg:card-md shadow-sm"
      >
        <div class="card-body p-6 xl:p-8">
          <h2 class="card-title">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                fill="currentColor"
                d="m13.16 22.19l-1.66-3.84c1.6-.58 3.07-1.35 4.43-2.27l-2.78 6.11m-7.5-9.69l-3.84-1.65l6.11-2.78a20 20 0 0 0-2.27 4.43M21.66 2.35S23.78 7.31 18.11 13c-2.2 2.17-4.58 3.5-6.73 4.34c-.74.28-1.57.1-2.12-.46l-2.13-2.13c-.56-.56-.74-1.38-.47-2.13C7.5 10.5 8.83 8.09 11 5.89C16.69.216 21.66 2.35 21.66 2.35M6.25 22H4.84l4.09-4.1c.3.21.63.36.97.45zM2 22v-1.41l4.77-4.78l1.43 1.42L3.41 22zm0-2.84v-1.41l3.65-3.65c.09.35.24.68.45.97zM16 6a2 2 0 1 0 0 4c1.11 0 2-.89 2-2a2 2 0 0 0-2-2"
              />
            </svg>
            Mi Propuesta de Valor
          </h2>
          <p>
            Mi objetivo es simple: ayudar a las empresas a
            <strong>tomar decisiones más inteligentes</strong> y fortalecer su
            presencia digital. Esto lo logro creando
            <strong>sitios web funcionales y eficientes</strong>, y
            transformando datos complejos en
            <strong>visualizaciones claras y reportes procesables</strong>.
          </p>
        </div>
      </div>
    </div>
    <div
      class="justify-items-center lg:justify-items-end col-span-1 col-start-1 md:col-start-1 lg:col-start-3"
    >
      <div
        class="hover:shadow-2xl hover:scale-110 transition-transform duration-300 border-t-2 border-blue-500 h-70 card w-[90%] bg-base-300 card-xs md:card-sm lg:card-md shadow-sm"
      >
        <div class="card-body p-6 xl:p-8">
          <h2 class="card-title">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 56 56"
            >
              <path
                fill="currentColor"
                d="M46 42h7.5a.5.5 0 0 1 .5.5V44c0 1.105-2.895 2-4 2H6c-1.105 0-4-.895-4-2v-1.5a.5.5 0 0 1 .5-.5H10a4 4 0 0 1-4-4V14a4 4 0 0 1 4-4h36a4 4 0 0 1 4 4v24a4 4 0 0 1-4 4M10 15v22a1 1 0 0 0 1 1h34a1 1 0 0 0 1-1V15a1 1 0 0 0-1-1H11a1 1 0 0 0-1 1m14 26a1 1 0 0 0 0 2h8a1 1 0 0 0 0-2z"
              />
            </svg>
            Mi Perfil
          </h2>
          <p>
            <span>
              Me caracterizo por un enfoque analítico, la habilidad para
              interpretar información y una comunicación efectiva de los
              resultados. Mi compromiso con el aprendizaje continuo me permite
              adaptarme y crecer en entornos dinámicos.
            </span>
          </p>
        </div>
      </div>
    </div>
    <div
      class="justify-items-center col-span-1 lg:col-span-3 col-start-1 md:col-start-2 lg:col-start-1"
    >
      <div
        class="hover:shadow-2xl hover:scale-110 lg:hover:scale-105 transition-transform duration-300 border-t-2 border-blue-500 h-70 card w-[90%] bg-base-300 card-xs md:card-sm lg:card-md shadow-sm lg:w-full"
      >
        <div class="card-body p-6 xl:p-8">
          <div class="justify-items-start lg:justify-items-center">
            <h2 class="card-title">
              <svg
                class="block lg:hidden"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <path
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m8 8l-4 4l4 4m8 0l4-4l-4-4m-2-3l-4 14"
                />
              </svg>
              Mis Habilidades Técnicas
            </h2>
            <hr
              class="hidden lg:block w-24 h-1 my-4 mx-auto md:mx-0 bg-blue-500 border-0 rounded-sm md:my-5 dark:bg-blue-500"
            />
          </div>
          <div
            class="mt-5 md:m-0 grid grid-cols-3 sm:grid-cols-4 md:grid-cols-4 lg:grid-cols-6 2xl:grid-cols-12 gap-8 justify-center items-center justify-items-center"
          >
            <div class="flex flex-col items-center">
              <img
                class="w-[30px] lg:w-[45px] 2xl:w-[55px]"
                src="assets/devicon--nodejs-wordmark.svg"
                alt="Node.js"
              />
              <span class="text-xs mt-1">Node.js</span>
            </div>
            <div class="flex flex-col items-center">
              <img
                class="w-[30px] lg:w-[45px] 2xl:w-[55px]"
                src="assets/devicon--nestjs.svg"
                alt="NestJS"
              />
              <span class="text-xs mt-1">NestJS</span>
            </div>
            <div class="flex flex-col items-center">
              <img
                class="w-[30px] lg:w-[45px] 2xl:w-[55px]"
                src="assets/material-icon-theme--python.svg"
                alt="Python"
              />
              <span class="text-xs mt-1">Python</span>
            </div>
            <div class="flex flex-col items-center">
              <img
                class="w-[30px] lg:w-[45px] 2xl:w-[55px]"
                src="assets/skill-icons--typescript.svg"
                alt="TypeScript"
              />
              <span class="text-xs mt-1">TypeScript</span>
            </div>
            <div class="flex flex-col items-center">
              <img
                class="w-[30px] lg:w-[45px] 2xl:w-[55px]"
                src="assets/devicon--angular.svg"
                alt="Angular"
              />
              <span class="text-xs mt-1">Angular</span>
            </div>
            <div class="flex flex-col items-center">
              <img
                class="w-[30px] lg:w-[45px] 2xl:w-[55px]"
                src="assets/logos--html-5.svg"
                alt="HTML5"
              />
              <span class="text-xs mt-1">HTML5</span>
            </div>
            <div class="flex flex-col items-center">
              <img
                class="w-[30px] lg:w-[45px] 2xl:w-[55px]"
                src="assets/logos--css-3.svg"
                alt="CSS3"
              />
              <span class="text-xs mt-1">CSS3</span>
            </div>
            <div class="flex flex-col items-center">
              <img
                class="w-[30px] lg:w-[45px] 2xl:w-[55px]"
                src="assets/flat-color-icons--linux.svg"
                alt="Linux"
              />
              <span class="text-xs mt-1">Linux</span>
            </div>
            <div class="flex flex-col items-center">
              <img
                class="w-[30px] lg:w-[45px] 2xl:w-[55px]"
                src="assets/material-icon-theme--docker.svg"
                alt="Docker"
              />
              <span class="text-xs mt-1">Docker</span>
            </div>
            <div class="flex flex-col items-center">
              <img
                class="w-[30px] lg:w-[45px] 2xl:w-[55px]"
                src="assets/devicon--postgresql.svg"
                alt="PostgreSQL"
              />
              <span class="text-xs mt-1">PostgreSQL</span>
            </div>
            <div class="flex flex-col items-center">
              <img
                class="w-[30px] lg:w-[45px] 2xl:w-[55px]"
                src="assets/logos--microsoft-power-bi.svg"
                alt="Power BI"
              />
              <span class="text-xs mt-1">Power BI</span>
            </div>
            <div class="flex flex-col items-center">
              <img
                class="w-[30px] lg:w-[45px] 2xl:w-[55px]"
                src="assets/vscode-icons--file-type-excel.svg"
                alt="Excel"
              />
              <span class="text-xs mt-1">Excel</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
